<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Dosis:500,400);

body {
  background: url(http://i.imgur.com/vjkynRK.jpg) scroll;
  background-position: center;
  repeat: no-repeat;
  }
=======

body {
  font-family: "Dosis";
  background: url(http://s9.postimg.org/nivlmgqsf/hills3.jpg) scroll;
  background-position: center;
  background-repeat: no-repeat;
}
>>>>>>> master
